.wrapper {
  display: grid;
  place-items: center;
  height: 100vh;

  background-size: cover;
  background-image: url("/place.webp");
}

.form {
  min-width: 300px;
  width: 30%;
  @media (max-width: $mantine-breakpoint-sm) {
    height: 100%;
    width: 100%;
  }
}
